body {
    background-color: blanchedalmond;
}

.green {
    background-color: rgb(115, 200, 112);
}

.red {
    background-color: rgb(219, 84, 84);
}

.blue {
    background-color: rgb(26, 80, 206);
}

.cook {
    background-color: cornflowerblue;
}

.manil {
    background-color: rgb(109, 65, 65);
}

.cari {
    background-color: coral;
}

.alb {
    background-color: aqua;
}

.wal {
    background-color: wheat;
}

.ran {
    background-color: rosybrown;
}

.rer {
    background-color: rgb(132, 72, 192);
}